// Breakpoints
// ================================================================================
$large-desktop: max-width 1920px;
$desktop: max-width 1349px;
$break-1199: max-width 1199px;
$break-1125: max-width 1125px;
$break-divisions: max-width 1065px;
$break-991: max-width 991px;
$break-979: max-width 979px;
$small-tablet-portrait-max: max-width 767px;
$phone-landscape: max-width 700px;
$break-600: max-width 600px;
$break-550: max-width 550px;
$break-500: max-width 500px;
$phone-portrait: max-width 400px;
$break-320: max-width 320px;