// @ base-font
// ================================================================================
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;
$base-font-color: #555;

// @ custom-fonts
// ================================================================================
// Include @font-face fonts here.

// @ base-colors
// ================================================================================
$black: #000;
$gray: #bbb;
$white : #fff;

// @ custom-colors
// ================================================================================

// @ anchors
// ================================================================================

// @ headings
// ================================================================================

// @ forms
// ================================================================================

// @ tables
// ================================================================================

// @ header
// ================================================================================

// @ main-menu
// ================================================================================

// @ dropdown-menu
// ================================================================================

// @ search
// ================================================================================

// @ login
// ================================================================================

// @ slider
// ================================================================================

// @ hero
// ================================================================================

// @ page
// ================================================================================

// @ sidebar
// ================================================================================ 

// @ call-to-action
// ================================================================================ 

// @ section-menu
// ================================================================================ 

// @ footer
// ================================================================================

// @ buttons
// ================================================================================

// @ images
// ================================================================================

// @ icons
// ================================================================================
// $icons: (
// );